# Python
.venv/
__pycache__/
*.pyc

# SQLite (se você não quiser versionar o banco)
*.db

# Next.js
**/node_modules/
**/.next/
**/.venv/
**/.env
__pycache__/
*.py[cod]
.DS_Store

# Ambiente
.env
.env.local

# macOS
.DS_Store